#best_container {
  width: 100vw;
  height: 7 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best_rankings_wrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

.best_view {
  margin: 5%;
}
.category_btn2 {
  width: 200px;
  height: 45px;
}
.categoryActive2 {
}

.brand_ranking {
  display: flex;

  background-color: var(--sub-body-color);
  border-radius: 4px;

  margin-top: 3%;
  align-items: center;

  width: 300px;
  height: 60px;
}

.brand_ranking_name {
  text-align: right;
  font-weight: bold;
}
