#bestInt_container {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
#bestInt_container::after {
  content: "";
  display: block;
  position: absolute;
  top: 20;
  left: 0;
  width: 100%;
  height: 30%;
  opacity: 0.5;
  z-index: -1;
  background-image: url(../images/worldDesign.jpg);
  background-size: cover;
  background-position: bottom;
}

.best_box {
  height: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.best_box > h2 {
  font-size: 5rem;
  color: var(--main-text-color);
  margin-top: 50%;

  text-shadow: 4px 4px 3px rgba(53, 53, 53, 0.822);
}
.best_box > img {
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 0;
  z-index: -10000;
}
