/*Brandinfo */

#brandinfo_container {
  width: var(--width-pers);
  height: var(--height-vh);
  background: var(--sub-body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brandinfo_contents_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--height-vh);
  width: 90%;
  overflow-y: scorll;
}

.brandInfo_header {
  display: flex;

  justify-content: start;
}

.brandInfo_logo {
  display: flex;

  justify-content: center;
  height: 50%;
  width: 1200px;

  padding: 2%;
  margin-top: 2%;
  border-radius: 5px;

  box-shadow: 0 3px 10px black;

  background: rgba(204, 243, 255, 0.404);
}

#brands_logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#brands_logo:hover {
  transition: 5s ease-in-out;
  transform: scale(1.1);
}
/* .brand_img_box {
  height: 14%;

  padding: 0.2%;
  border-radius: 5px;

  background: var(--sub-body-color);
}

.brand_img_box:hover {
  padding: 0.3%;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.brand_img {
  height: 100%;
  object-fit: contain;
} */

.contents_main_content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1200px;
  height: 100vh;
  background: rgb(255, 255, 255);
}

/*버튼*/
.info_box {
  width: 1200px;
  display: flex;

  justify-content: space-between;
}
.info_btn_box {
  display: flex;
}
.info_btn_box2 {
  display: flex;
}
.info_btn_box2 > icon {
  font-size: 1.4rem;
}

.Info_btn {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  width: 150px;

  padding: 2% 2%;

  background: var(--main-btn-color);
}

@media all and (max-width: 1000px) and (max-height: 1400px) {
  @media all and (min-width: 320px) and (min-height: 400px) {
  }

  @media all and (width: 375px) and (height: 667px) {
  }

  @media all and (min-width: 700px) and (min-height: 1100px) {
  }
}
