/*Brandinfo */

#brandinfo_container {
  padding-top: 3rem;
  width: var(--width-pers);
  height: var(--height-vh);
  background: var(--main-body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brandinfo_contents_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--height-vh);
  width: 60%;
  overflow-y: scorll;
}

.brandInfo_header {
  display: flex;

  justify-content: start;
}

.brandInfo_logo {
  display: flex;

  justify-content: center;
  height: 50%;
  width: 100%;

  padding: 2%;
  margin-top: 10%;
  border-radius: 5px;

  box-shadow: 0 3px 10px black;

  background: whitesmoke;
}

#brands_logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 1rem 1rem;
}
#brands_logo:hover {
  transition: 5s ease-in-out;
  transform: scale(1.1);
}
/* .brand_img_box {
  height: 14%;

  padding: 0.2%;
  border-radius: 5px;

  background: var(--sub-body-color);
}

.brand_img_box:hover {
  padding: 0.3%;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.brand_img {
  height: 100%;
  object-fit: contain;
} */

.contents_main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
  height: 100vh;
  background: var(--main-box-color);
  border-radius: 12px;
  padding: 1%;
}

/*버튼*/
.info_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info_btn_box {
  width: 40%;
  height: 90%;
  display: flex;
}

.info_btn_box2 {
  width: 23%;
  height: 100%;
  display: flex;
}
.info_btn_box2 > icon {
  font-size: 1.2rem;
}

.Info_btn {
  border-radius: 12px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;

  width: 100%;
  color: white;
  padding: 2% 2%;
  margin-right: 2%;
  background: var(--main-btn-color);
}

.Info_btn:hover {
  background: rgb(255, 115, 0, 0.8);
}
.back_box {
  margin-right: 0.4rem;
}
.back_btn_location {
  position: relative;
  top: 10%;
  left: -57%;
}
.back_btn {
  font-weight: bolder;
  cursor: pointer;

  padding: 12px 20px;
  background: none;
  color: #ccc;

  border: 1px solid var(--main-text-color);
  font-size: 18px;
  border-radius: 4px;
  transition: 0.3s linear;
  overflow: hidden;
}

.back_btn:hover {
  color: black;
  background-color: var(--main-text-color);
}

#info_content_box {
  padding: 3%;
  width: 100%;
}

.views,
.eye_icon,
.heart_icon,
.bookmark_icon {
  margin: 5%;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.contents-box {
  height: 20vh;
}

.history_box {
  overflow-y: scroll;
  color: rgb(207, 207, 207);
}

/* 
@media all and (max-width: 1030px) and (max-height: 1400px) {
  .contents-box {
    height: 30vh;
    overflow-y: scroll;
  }

  .contents_main_content {
    height: 60vh;
  }

  @media all and (min-width: 320px) and (min-height: 400px) {
  }

  @media all and (width: 375px) and (height: 667px) {
  }

  @media all and (min-width: 700px) and (min-height: 1000px) {
    .contents-box {
      height: 30vh;
      overflow-y: scroll;
    }

    .contents_main_content {
      height: 50vh;
    }
  }
} */
