/* !mobile first */

#best_view_container {
  width: var(--width-pers);
  height: 50vh;
  background: var(--main-body-color);
  /* border: 1px solid red; */
}
.view_title {
  padding: 20px 12px 16px 24px !important;
  margin-bottom: 10px;
  color: white;
  font-size: 1.8em !important;
  font-weight: 700;
  line-height: 28px;
}
.category_container {
  display: grid !important;
  grid-auto-flow: column !important;
  overflow: auto hidden !important;
  scroll-snap-type: x mandatory !important;
  scroll-snap-align: start;
  gap: 12px !important;
  padding: 4px 24px 8px;
  scroll-padding: 0px 24px;
}
.category_container::-webkit-scrollbar {
  display: none;
}
.category_container div > li {
  width: 270px;
  height: 270px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 8px;
  margin-right: 12px;
}

.category_container div {
  display: flex;
  flex-direction: column;
}

/* home main category JPG */
.category_container .all li:nth-child(1) {
  background-image: url("../images/home_img/allbrand.jpg");
}
.category_container .cola li:nth-child(1) {
  background-image: url("../images/home_img/cola.jpg");
  background-position-y: 80%;
}
.category_container .netflix li:nth-child(1) {
  background-image: url("../images/home_img/netflix.jpg");
}
.category_container .tesla li:nth-child(1) {
  background-image: url("../images/home_img/tesla.jpg");
}

.category_name {
  padding-left: 5px;
  margin-top: 2%;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  max-height: 44px;
}

/* 768p ~ 1023까지 적용, Tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  #best_view_container {
    height: 100%;
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .category_container {
    height: 100%;
    padding: 2px 0px 8px 0px;
  }
  .category_container div > li {
    width: 315px;
    height: 290px;
  }
}

/* 1024px 이상부터 적용 */
@media all and (min-width: 1024px) {
  #best_view_container {
    height: 100%;
    margin: 0px auto !important;
    position: relative !important;
    max-width: 1760px !important;
    padding-right: 80px !important;
    padding-left: 80px !important;
  }
  .category_container {
    height: 100%;
    padding: 2px 0px 8px 0px;
  }
  .category_container div > li {
    width: 320px;
    height: 290px;
  }
  .view_title {
    padding: 20px 12px 16px 10px !important;
    color: white;
    font-size: 2.3em !important;
    font-weight: 600;
    line-height: 28px;
  }
  .category_name {
    margin-top: 2%;
    color: white;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 22px;
    max-height: 44px;
  }
}
