/*Brandinfo */

#brandinfo_container {
  width: var(--width-pers);
  height: var(--height-vh);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.brandInfo_logo {
  margin: 1%;
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: orange;
  width: 60%;
}

#brands_logo {
  width: 700px;
}

#contents-top {
  display: flex;
  flex-direction: column;
}

.contents-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  flex-direction: row;
  margin-right: 1px auto;
}

.back_btn {
  font-size: 2rem;
  width: 200px;
  border-radius: 20px;
  padding: 2% 5%;

  background: var(--main-btn-color);
}

#ssssss {
  width: 60%;
  height: 80%;
  background: black;
  margin: 1%;
}
