#brands_view {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.brand_left_view {
  display: flex;
  flex-direction: column;

  width: 30%;
}
.brand_header > h2 {
  padding: 5%;
  font-size: 5rem;
}

.brand_search_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 5%;
}

.category_btn_box {
  display: flex;
  flex-direction: row;
  padding: 5%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.category_btn {
  font-size: 1.2rem;

  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.315);
  padding: 1% 5%;
  text-align: center;
  color: gray;
}

.category_btn:active,
.category_btn:focus,
.category_btn:hover {
  background: rgba(128, 128, 128, 0.349);
  color: black;
}

.brand_right_view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;

  background: var(--main-body-color);
}

.brand_scroll_content {
  width: 98%;
  height: 98vh;
  background: var(--main-body-color);

  display: flex;
  flex-wrap: wrap;

  column-gap: 10px;
  padding: 1%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.brand_img_box {
  height: 14%;

  padding: 0.2%;
  border-radius: 5px;

  background: var(--sub-body-color);
}

.brand_img_box:hover {
  padding: 0.3%;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.brand_img {
  height: 100%;
  object-fit: contain;
}

@media all and (max-width: 1450px) {
  .brand_header > h2 {
    padding: 5%;
    font-size: 4.5rem;
    transition: 0.5s linear;
  }
  @media all and (max-width: 1350px) {
    .brand_header > h2 {
      padding: 5%;
      font-size: 4rem;
      transition: 0.5s linear;
    }
    @media all and (max-width: 1170px) {
      .brand_header > h2 {
        padding: 5%;
        font-size: 3rem;
        transition: 0.5s linear;
      }
    }
  }
}

@media all and (max-width: 900px) {
  #brands_view {
    flex-direction: column;
  }
  .brand_left_view {
    width: 100%;
    height: 40%;
  }

  .brand_header > h2 {
    text-align: center;
    font-size: 2rem;
    padding: 1%;
  }
  .brand_right_view {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
  }
}
