#footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20vh;
  width: 100%;
  font-size: 1.3em;
  background-color: var(--main-body-color);
}
@media (min-width: 1128px) {
  #footer_container {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}
@media (min-width: 950px) {
  #footer_container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media (min-width: 744px) {
  #footer_container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media (min-width: 375px) {
  #footer_container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

#footer_container {
  padding-left: 24px !important;
  padding-right: 24px !important;
  margin: 0 auto !important;
}

.footer_text_area {
  margin-left: 1%;
  padding-top: 50px;
  color: white;
}
.footer_text1 {
  font-size: 1rem;
  font-weight: bolder;
  color: #8b949e;
}
.footer_text2 {
  font-size: 0.8rem;
  color: #8b949e;
}
.footer_btn_box {
  display: flex;
  flex-direction: row;

  align-items: flex-end;

  padding: 20px 80px;
  margin-left: 0 auto;
}
.social_btn {
  margin: 5%;
}

.github_btn,
.google_btn,
.apple_btn {
  width: 20px;
  height: 20px;
  filter: grayscale(100%);
}
