/* !mobile first */

#introduce_view {
  width: var(--width-pers);
  height: 100vh;
  background: var(--main-body-color);
  padding-right: 24px !important;
  padding-left: 24px !important;
  /* border: 1px solid red; */
}

.introduce_container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: var(--main-box-color);
  /* border: 1px solid red; */
}

.article_box {
  /* border: 5px solid red; */
  background: var(--main-box-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 20px 32px;
  align-items: center;
  text-align: center;
}

.article_title {
  color: white;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.article_subTitle {
  padding: 7px;
  color: white;
  font-size: 16px !important;
  line-height: 20px !important;
  white-space: pre-line !important;
  font-weight: 400;
}

.article_btn {
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: ease-in 0.2s;
  background: var(--main-btn-color);
  width: 50%;
  height: 40px;
  border-radius: 8px;
  margin: 50px 0px 10px 0px;
  padding: 6px !important;
  cursor: pointer !important;
}
.article_btn:hover {
  background: rgb(255, 115, 0, 0.5);
}

.article_img_box {
}

.article_img_box > img {
  width: 100%;
  height: auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* 768p ~ 1023까지 적용, Tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  #introduce_view {
    height: 100%;
    margin: 0px auto !important;
    position: relative !important;
    max-width: 1760px !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .introduce_container {
    height: 70%;
    display: flex;
    flex-direction: row;
  }
  .article_box {
    padding: 70px 32px 20px 32px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .article_title {
    font-size: 2rem;
    line-height: 3rem !important;
  }

  .article_btn {
    position: relative;
    top: -2.5rem !important;
    font-size: 1.2rem !important;
    width: 15rem !important;
    height: 3rem !important;
    border-radius: 12px;
  }

  .article_subTitle {
    padding-top: 3% !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }
  .article_img_box > img {
    height: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 0px;
  }
}

/* 1024px 이상부터 적용 */
@media all and (min-width: 1024px) {
  #introduce_view {
    height: 100%;
    margin: 0px auto !important;
    position: relative !important;
    max-width: 1760px !important;
    padding-right: 80px !important;
    padding-left: 80px !important;
  }
  .introduce_container {
    height: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 65px;
  }
  .article_box {
    vertical-align: middle;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    justify-content: center;
  }
  .article_img_box > img {
    object-fit: cover;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 0px;
  }
  .article_title {
    font-size: 2.5rem;
    line-height: 3rem !important;
  }

  .article_subTitle {
    padding-top: 3%;
    font-size: 1.2rem !important;
    line-height: 1.5rem !important;
  }

  .article_btn {
    position: relative;
    top: 0.5rem;
    font-size: 1.2rem;
    width: 15rem;
    height: 3rem;
    border-radius: 12px;
  }
}
